<ion-view view-title="New Counter">
    <ion-content>

        <form name="$parent.newCounter" ng-submit="CreateNewCounter()">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Counter name</span>
                <input name="name" ng-model="name" type="text" placeholder="Name your counter" required="required">
            </label>

            <div class="row">

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Initial value</span>
                        <input name="initial" ng-model="initial" type="number" placeholder="default: 0">
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Increment</span>
                        <input name="increment" ng-model="increment" type="number" placeholder="default: 1">
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Max Value</span>
                        <input name="maxValue" ng-model="maxValue" type="number" placeholder="default: unlimited">
                    </label>
                </div>

            </div>

            <div class="reminder">
                <ion-toggle ng-model="newCounter.reminder" toggle-class="toggle-calm">Reminder

                    <p>Remind me every </p>

                    <!-- Reminder Time Format -->
                    <label class="remindTime item item-input item-select">
                        <select ng-model="newCounter.remindEvery">
                            <option>Hour</option>
                            <option selected>Day</option>
                            <option>Week</option>
                            <option>Month</option>
                            <option>Year</option>
                        </select>
                    </label>

                </ion-toggle>


                <p>to do at least </p>
                <!-- Reminder Time Count -->
                <input ng-model="newCounter.countAtLeast" type="text">

                <p>Counts</p>


            </div>

            <ul class="list">

                <ion-toggle ng-model="newCounter.location" toggle-class="toggle-calm">Track GPS Location of counts
                </ion-toggle>

                <ion-toggle ng-model="newCounter.sound" toggle-class="toggle-calm">Sound</ion-toggle>

                <ion-toggle ng-model="newCounter.vibration" toggle-class="toggle-calm">Vibration</ion-toggle>
            </ul>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Counter color
                    </div>
                    <select ng-model="newCounter.color">
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                        <option>Blue</option>
                        <option>Green</option>
                        <option>Red</option>
                        <option>Dark</option>
                        <option>None</option>
                        <option>Fade</option>
                    </select>
                </label>

            </div>

            <button type="reset" ng-click="reset" class="button button-large button-balanced icon-left ion-ios-refresh">
                Reset
            </button>

            <button type="submit" class="button button-large button-positive icon-left ion-plus-circled">
                Create Counter
            </button>

        </form>

    </ion-content>
</ion-view>
